:root { 
--gray_50_01:#f8f9fa; 
--black_900_b2:#000000b2; 
--red_700:#da1e28; 
--gray_900_99:#1e1e1e99; 
--black_900_3f:#0000003f; 
--gray_50:#fbf7f7; 
--yellow_800:#f0ae2c; 
--black_900:#000000; 
--yellow_800_9b:#f0ae2c9b; 
--red_A400:#ff1818; 
--blue_gray_900:#353535; 
--red_A700:#b10000; 
--yellow_800_87:#f0ae2c87; 
--gray_900_02:#161616; 
--gray_400:#bdbdbd; 
--blue_gray_100:#d9d9d9; 
--gray_900_87:#1e1e1e87; 
--gray_800:#4b4b4b; 
--gray_900:#1e1e1e; 
--gray_900_01:#252525; 
--gray_300:#e8e3df; 
--gray_300_01:#e0e0e0; 
--gray_100:#f7f7f7; 
--yellow_800_7f:#f0ae2c7f; 
--gray_100_01:#f4f4f4; 
--white_A700:#ffffff; 
}